<h2>Books</h2>
<% @books.each do |book| %>
  <div>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <%= link_to "Show", "/books/#{book.id}" %>
  </div>
<% end %>

<h3>New book</h3>
<%= form_for(@book, url: "/books") do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>body</p>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Create Book" %>
<% end %>