<h2>Books</h2>
<% @books.each do |book| %>
  <div>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <%= link_to "Show", "/books/#{book.id}" %>
  <%= link_to "Edit", "/books/#{book.id}/edit" %>
  <%= link_to "Destroy", "/books/#{book.id}", method: :delete, "data-confirm" => "Are you sure?" %>
  </div>
<% end %>

<h3>New book</h3>
<%= form_for(@book, url: "/books") do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>body</p>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Create Book" %>
<% end %>